body {
background-color: rgb(200, 30, 67);
}

main{
  width: 700px;
  margin: 0 auto;
  background-color: #F50;
  }


 h1 {
    background-color: rgb(200, 150, 150);
    width: 300px;
    height: 300px;

  }
